body{background-color: lightgreen;}

button{width: 70px;height: 30px;}



#img-0{ width: 150px;height: 150px;}

p{text-align: center;}
p{font-size: 50px;}
p{color: rgb(7, 122, 13);font-weight: bold;margin: 0px;}

#img-1{width: 300px;height: 200px;}
#img-2{width: 300px;height: 200px;}
#img-3{width: 300px;height: 200px;}











